node_modules
dist
dist-ssr
*.local
.env
.env.local
.DS_Store
*.log
.vscode/*
!.vscode/extensions.json
.idea
*.apk
*.aab
*.keystore
*.jks
android/app/build
android/build
android/.gradle
android/local.properties
